<link rel="stylesheet" type="text/css" href="/css/index.css">
<div id='body-wrapper'>
    <div id="left-frame">
        <div id="chat">
        </div>
        <div id="user-input">
            <textarea name="user-entry">
            </textarea>
            <button id="roll">Roll</button>
            <button id="send">Send</button>
        </div>
    </div>
    <div id="right-frame" class="resizable">
    <!-- todo make jquery accordian -->
        <div id="char-summary">
        </div>
        <div id="inventory-summary">
        </div>
    </div>
    <div id="bottom-up-b">
    </div>
</div>


<script type="text/javascript" src='/js/index-page.js'></script>
