html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

textarea:focus, button:focus {
    outline-width: 0;
}

#body-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#content-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;

    margin-bottom: 10px; /* corresponds to the bottom button */
}

#bottom-up-b {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    background-color: blue;
}

#left-frame{
    position: relative;

    float: left;
    width: 80%;
    height: 100%;
    /*background-color: red;*/
}

#right-frame {
    height: 100%;
    overflow: hidden;
    border-left: 1px solid black;
    /*background-color: green;*/
}


#user-input {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    border-top: 1px solid black;
}

#user-input textarea {
    resize: none;
    overflow: scroll;

    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none; /* turn off the others */
}

#ta-wrapper {
    height: 100%;
    margin-right: 52px; /* directly related to the size of the #entry-buttons */
    margin-left: 2px;
    overflow: hidden;
}

#entry-buttons {
    float: right;
    width: 50px;
}

#entry-buttons button {
    float: left;
    width: 50px;
    height: 25px;
}
